@import (less) "bootstrap.css";
@import (less) "bootstrap-theme.css";

.list-group-item.title {
	color: #777;
	background-color: #eee;
	font-weight: 600;
}

.tradeableItemsLabel {
}


.videoTourTitle {
}



.videoTourThumbNail {
	height: 5em;
}

.grid-low-margin .col-xs-3 {
	padding-right: 5px;
	padding-left: 5px;
}

.lead {
	height: 5em;
}

.package {
	text-align: center;
}

	.package .panel {
		transition: all 0.25s;
		border-color: #2b035c;
	}

	.package .panel-heading h3 {
		height: 2em;
	}

	.package .panel-heading {
		background-color: #360573;
		color: white;
	}

	.package .call-to-action {
		margin-bottom: 1em;
	}

	.package .panel:hover {
		box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5);
		transform: scale(1.04) translateY(-5px);
		z-index: 1;
		border-bottom: 0 none;
	}

		.package .panel:hover .panel-heading {
			/*Slightly brighter to make it seem closer*/
			background-color: #40107c;
		}

		.package .panel:hover .call-to-action {
			background-color: #6b3aa9;
		}

.call-to-action {
	background-color: #360573;
	color: #fff;
	background-color: #360573;
}

	.call-to-action:focus, .call-to-action:hover {
		background-color: #8251bf !important;
		color: #fff !important;
	}

.compare {
	text-align: center;
}

	.compare .panel-heading {
		/*background-color: #360573;
		color: white;*/
	}

.compareHeader {
	width: 18%;
	text-align: center;
}

.compare .glyphicon-ok-sign {
	color: green;
	font-size: 1.5em;
}

.compare .glyphicon-remove-sign {
	color: red;
	font-size: 1.5em;
}
